@font-face {
    font-family: josefins-sans-bold;
    src: url(../../../assets/fonts/JosefinSans-Bold.ttf)format('truetype');
}
@font-face {
    font-family: josefins-sans-regular;
    src: url(../../../assets/fonts/JosefinSans-Regular.ttf)format('truetype');
}

:root {
    --clr-light: hsl(0, 0%, 98%);
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary: hsl(235, 19%, 35%);
    --clr-accent: hsl(220, 98%, 61%);

    // font color
    --clr-font: hsl(236, 33%, 92%);

    //border
    --border-radius: 0.3125rem;

    //gap
    --gap: .5rem;

    // font family
    --ff-700: josefins-sans-bold, sans-serif;
    --ff-400: josefins-sans-regular, sans-serif;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}