:root {
    --clr-light: hsl(0, 0%, 98%);
    --clr-dark: ;
    --clr-primary: hsl(236, 33%, 92%);
    --clr-secondary: hsl(235, 19%, 35%);
    --clr-accent: hsl(220, 98%, 61%);
}


// .darkmode {
//     --clr-light: ;
//     --clr-dark: ;
//     --clr-primary: ;
//     --clr-secondary: ;
//     --clr-accent: ;
// }


html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}