:root {
    --clr-primary: hsl(0, 0%, 98%);
    --clr-secondary: hsl(235, 19%, 35%);
    --clr-accent: hsl(220, 98%, 61%);

    // font color
    --clr-font: hsl(236, 33%, 92%);

    //border
    --border-radius: 0.3125rem;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}