@use '../base/globals' as *;

body {
    background-color: var(--clr-light);
    background-image: url(../assets/img/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: 100% 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100% - 2rem, 500px);
    margin-inline: auto;
    border-radius: var(--border-radius);
    margin-top: 2rem;
    
    > * {
            &:not(header){
                background-color: var(--clr-primary);
            }
        width: 100%;
        padding: var(--gap);
    }

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: transparent;
}

.todos {
    border-radius: var(--border-radius);
    .input--wrapper{
        &:not(:first-child) {
            border-top: 1px solid var(--clr-font);
        }
    }
}

.input--wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;

    .list--wrapper {
        display: flex;
        align-items: center;
        gap: var(--gap);

        input[type=checkbox] {
            &:checked {
                ~li {
                    text-decoration: line-through;
                    opacity: .75;
                }
            }
        }
    }

    .delete--todo {
        margin-left: var(--gap);
    }
}


form.add {
    margin-bottom: .75rem;
    border-radius: var(--border-radius);

    .input--wrapper {
        justify-content: flex-start;
        gap: var(--gap);
    }
}

.todo--info {
    display: flex;
    justify-content: space-between;
}

form.filter--todo {
    display: flex;
    gap: calc(var(--gap) * 1.5);
}

.radio--wrapper {

    input[type=radio] {
        opacity: 0;
    }

    label {
        display: block;
        margin-top: -15px;
    }
}

.attribution {
    margin-top: 2rem;
}