@use '../base/globals' as *;

body {
    background-color: var(--background);
    background-image: url(../assets/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: 100% 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100% - 2rem, 500px);
    margin-inline: auto;
    border-radius: var(--border-radius);
    margin-top: 2rem;
    
    > * {
            &:not(header){
                background-color: var(--clr-primary);
            }
        width: 100%;
        padding: var(--gap);
    }

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: transparent;
}

.todos {
    border-radius: var(--border-radius);
    margin-bottom: calc(var(--gap) * 1.5);
    .input--wrapper{
        &:not(:last-child) {
            border-bottom: 1px solid var(--clr-border);
        }
    }
    .todo {
        &:hover {
            cursor: move;
        }
    }
}

.input--wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;

    .list--wrapper {
        display: flex;
        align-items: center;
        gap: var(--gap);

        li {
            line-height: 1.15rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        
        input[type=checkbox] {
            &:hover {
                cursor: pointer;
            }
            &:checked {
                ~li {
                    text-decoration: line-through;
                    opacity: .5;
                }
            }
        }
    }

    .delete--todo {
        margin-left: var(--gap);
    }
}

.dragging {
    opacity: .5;
}

form.add {
    margin-bottom: .75rem;
    border-radius: var(--border-radius);

    .input--wrapper {
        justify-content: flex-start;
        gap: var(--gap);
    }
}

.todo--info {
    display: flex;
    justify-content: space-between;
    .desktop--only {
        display: none;

        .radio--wrapper {
            label {
                opacity: .8;
            }
            &:hover {
                cursor: pointer;
                
                label {
                    opacity: 1;
                }
            }
        }
    }
}


form.filter--desktop--todo {
    display: flex;
    gap: calc(var(--gap) * 1.5);
}
form.filter--mobile--todo {
    display: flex;
    gap: calc(var(--gap) * 1.5);
}



.mobile--only {
    margin-inline: auto;
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    height: 3rem;
}

@media (min-width: 500px) {
    .todo--info {
        .desktop--only {
            display: flex;
        }
    }
    form.mobile--only {
        display: none;
    }
     .delete--todo {
        opacity: 0;
    }
    .todo {
        &:hover {
             .delete--todo {
                opacity: 1;
            }
        }
    }
}

.radio--wrapper {

    input[type=radio] {
        opacity: 0;
    }

    label {
        display: block;
        margin-top: -15px;
    }
}

.attribution {
    margin-top: 1rem;
}